$empty-bg: navajowhite;
$interface-bg: white;
$interface-shadow: 4px 4px rgba(0, 0, 0, 0.5) inset;
$interface-label-shadow: 4px 4px rgba(0, 0, 0, 0.5);
$interface-border-bg: white;
$label-bg: white;
$channel-bg: white;
$channel-bg-img: url("/assets/backgrounds/boat.gif");
$channel-shadow: 4px 4px rgba(0, 0, 0, 0.5);
$msg-bg: white;
$msg-shadow: $channel-shadow;

$border-width: 5px;

* {
  all: unset;

  font-family: "Iosevka Aoile";

  color: black;

  border-color: $interface-border-bg;
}

.background {
  padding: 0px;
}

.window {
  // carefully selected to work with neovim
  padding: 24px 8px;
}

.widget {
  min-width: 0px;
  min-height: 0px;

  padding: 0.5em;

  background-color: $interface-bg;

  border-width: $border-width;
  border-style: double;
  border-color: black;
}

.music>image {
  border-width: $border-width;
  border-style: double;
  border-color: black;
  background-color: white;
}

.music>box {
  border-width: $border-width;
  border-style: double none double double;
  border-color: black;
  background-color: white;
  padding: 0.5em;
}

.widget>.icon {
  font-size: 1.25em;
}

.widget>.percent {
  font-size: 0.75em;
}

.workspaces>label {
  padding: 0px 2px;
}

.workspaces>.active {
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-color: black;
}

progressbar>trough {
  border: 1px solid black;
}

progressbar>trough>progress {
  background-color: black;
}

.popup {
  background-color: white;
  border-color: black;
  border-width: $border-width;
  border-style: double;
  padding: 8px;
}

.popup>menu {
  padding: 8px;
}

menu>separator {
  border-style: none none solid none;
  border-width: 1px;
  border-color: black;
}

menu>menuitem {
  padding: 2px 0px;
}

menu>menuitem:hover {
  background-color: #ababab;
}
